:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "DM Serif Display", serif;
}

h2 {
  font-family: "DM Serif Display", serif;
}

h3 {
  font-family: "DM Serif Display", serif;
}

h4 {
  font-family: "DM Serif Display", serif;
}

li {
  font-family: "Raleway", sans-serif;
}

.university {
  font-family: "DM Serif Display", serif;
}
p {
  font-family: "Raleway", sans-serif;
}

span {
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  padding: 0;
  overflow-x: hidden;
}
